<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW5Wyj6QvzOLDT3ck_Zi-oQ39heTkPeNY</string>
	<key>GCM_SENDER_ID</key>
	<string>877328566750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tra.1nt3rl1nk3dkn0wl3dg3</string>
	<key>PROJECT_ID</key>
	<string>app423-acf56</string>
	<key>STORAGE_BUCKET</key>
	<string>app423-acf56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877328566750:ios:83783da77a41f50e02b54f</string>
</dict>
</plist>